@{
    ViewData["Title"] = "Home Page";
}

<div style="color: white;">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr style="text-align: center;color: white;">
                    <th>Валюта</th>
                    <th>Курс</th>
                </tr>
            </thead>
            <tbody style="text-align: center;color: white;">
                <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                </tr>
                <tr>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>